.invisible{
    opacity:0;
}
.visible{
    border-right:0.5px solid;
    border-color:gray;
}
.timeaxis{
    border-right:0.5px solid;
    border-color:gray;
    width:40px;
    padding:3px 5px;   
    font-size:4px;
}